services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: andre
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: chatdb
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
