services:
  chat-app:

    image: chat-app:latest
    container_name: chat-app
    ports:
      - "8080:8080"
    env_file:
      - .env


  postgres:
    image: postgres:16
    container_name: postgres
    restart: always

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: chatdb

    ports:
      - "5432:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
